<%= form_for(@internship) do |f| %>
  <% if @internship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@internship.errors.count, "error") %> 案件が正しく保存されませんでした</h2>

      <ul>
      <% @internship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br> 
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br> 
    <%= f.collection_select :category_id, Category.all, :id, :kind %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :income_id %><br> 
    <%= f.collection_select :income_id, Income.all, :id, :price_band %>
  </div>
  <div class="field">
    <%= f.label :term_id %><br> 
    <%= f.collection_select :term_id, Term.all, :id, :time_period %>
  </div>
  <div class="field">
    <%= f.label :working_day_id %><br> 
    週<%= f.collection_select :working_day_id, WorkingDay.all, :id, :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
