<p id="notice"><%= notice %></p>

<h1>投稿したインターン案件一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>案件内容</th>
      <th>場所</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internships.each do |internship| %>
      <tr>
        <td><%= internship.name %></td>
        <td><%= internship.content %></td>
        <td><%= internship.place %></td>
        <td><%= link_to '詳細表示', internship %></td>
        <td><%= link_to '編集', edit_internship_path(internship) %></td>
        <td><%= link_to '削除', internship, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しく案件を作る', new_internship_path %>
