<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<% if company_signed_in? %>
			<%= link_to "Prejob", 'internships_path', id: "logo" %>
		<% elsif student_signed_in? %>
			<%= link_to "Prejob", 'internships_path', id: "logo" %>
		<% else %>
			<%= link_to "Prejob", "https://prejob.herokuapp.com/", id: "logo" %>
		<% end %>
		
		<nav>
			<ul class="nav navbar-nav navbar-right dropdown-menu">
			<% if company_signed_in? %>
				<li><%= link_to "プロフィール変更", edit_company_registration_path %></li>
				<li><%= link_to "ログアウト", destroy_company_session_path, method: :delete %></li>

			<% elsif student_signed_in? %>
				<li><%= link_to "プロフィール変更", edit_student_registration_path %></li>
				<li><%= link_to "ログアウト", destroy_student_session_path, method: :delete %></li>

			<% else %>
				<li><%= link_to "企業登録", new_company_registration_path %></li>
				<li><%= link_to "企業ログイン", new_company_session_path %></li>
				<li><%= link_to "学生登録", new_student_registration_path %></li>
				<li><%= link_to "学生ログイン", 	new_student_session_path %></li>
			<% end %>
			</ul>
		</nav>
	</div>
</header>