<!DOCTYPE html>
<html>
<head>
  <title>Prejob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
</head>
<body>
<%= render 'layouts/header' %>
<p class="alert"><%= alert %></p>
<div class="container">
	<%= yield %>
</div>
<footer class="footer">
	<small>
		Copyright © Masashi Tohmine All Rights Reserved.
	</small>
</footer>
</body>
</html>
